.lista {
  width: 100%;
  padding: var(--gap-l);
}

.lista ul {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  gap: var(--gap-m);
}

.lista li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: var(--gap-m);
  background-color: var(--text-color);
  color: var(--primary-color);
  border-radius: var(--gap-sm);
}

.dados {
  width: 80%;
  cursor: pointer;
}

.modal {
  display: none;
}

@media (max-width: 630px) {
  .lista ul {
    grid-template-columns: 1fr;
  }
}