.cadastro {
  width: var(--container-width);
  margin: auto;
  display: flex;
  flex-direction: column;
  align-content: baseline;
  column-gap: var(--gap-xl);
}

.cadastro h1 {
  text-align: center;
  width: 100%;
  padding-block: var(--gap-s);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: baseline;
  column-gap: var(--gap-xl);
}

.cadastro img {
  flex-grow: 1;
  width: 80%;
  padding: var(--gap-xl);
  min-width: 320px;
}

@media (min-height: 3000px) and (orientation: portrait) {
  .cadastro {
    height: calc(100vh - 240px);
  }
}

@media (min-height: 890px) and (orientation: landscape) {
  .cadastro {
    height: calc(100vh - 240px);
  }
}

@media screen and (orientation: portrait) {
  .container {
    flex-direction: column-reverse;
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column-reverse;
  }
}

@media (max-width: 425px) {
  .cadastro h1 {
    font-size: 30px;
  }
}
