form {
  width: 90%;
  display: grid;
  grid-template-rows: 1fr;
  padding: var(--gap-l);
}

.selectContainer {
  width: 60%;
}


@media (max-width: 375px) {
  form {
    padding: 1rem 1px ;
    font-size: 14px;
  }
}