.container {
    width: var(--container-width);
    margin: auto;
    border-bottom: 1px solid var(--primary-color);
    padding-bottom: var(--gap-l);
}

.seletor {
    display: grid;
    grid-template-columns: 2fr 1fr 5fr;
    column-gap: var(--gap-xl);
}