.home {
    height: calc(100vh - 200px);
    width: var(--container-width);
    margin: auto;
}

.container {
    width: 75%;
    padding: 5rem;
    color: var(--primary-color);
}

.container h1 {
    font-size: 40px;
    margin-bottom: 12px;
}

.container p {
    font-size: large;
}