.header {
    width: 100%;
    background-color: var(--primary-color);
}

.container {
    height: 100px;
    width: var(--container-width);
    margin: auto;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
}

.container svg {
    background-color: var(--text-color);
    border-radius: 50%;
    padding: var(--gap-m);
}

.container nav {
    display: flex;
    column-gap: var(--gap-l);
}