.footer {
  width: 100%;
  background-color: var(--primary-color);
  z-index: 100;
  position: absolute;
}

.container {
  height: 80px;
  width: var(--container-width);
  margin: auto;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  border-top: 1px solid var(--secondary-color);
}

.container p {
  color: var(--text-color);
}

.container p:after {
  content: " Parking Control";
  font-weight: 700;
}

@media (max-width: 375px) {
  .container {
    width: 100%;
  }

  .container p {
    font-size: 14px;
  }
}
